HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env


/client

/tmpclaude-1a28-cwd
/tmpclaude-1d06-cwd
/tmpclaude-1ef4-cwd
/tmpclaude-2b72-cwd
/tmpclaude-2f17-cwd
/tmpclaude-6be4-cwd
/tmpclaude-6e89-cwd
/tmpclaude-8e56-cwd
/tmpclaude-11ba-cwd
/tmpclaude-25ed-cwd
/tmpclaude-37a3-cwd
/tmpclaude-59f6-cwd
/tmpclaude-61d5-cwd
/tmpclaude-62b4-cwd
/tmpclaude-63e0-cwd
/tmpclaude-263a-cwd
/tmpclaude-340f-cwd
/tmpclaude-418f-cwd
/tmpclaude-462d-cwd
/tmpclaude-2353-cwd
/tmpclaude-a1b3-cwd
/tmpclaude-aea5-cwd
/tmpclaude-d7a2-cwd
/tmpclaude-de9b-cwd
/tmpclaude-dffc-cwd
/tmpclaude-e8b2-cwd
/tmpclaude-f6de-cwd
/tmpclaude-f90e-cwd
/ADVANCED_FEATURES.md
/API_DOCUMENTATION.md
/DOCUMENTATION_INDEX.md
/GETTING_STARTED.md
/Postman_Collection.json
/PROJECT_COMPLETION_SUMMARY.md
/QUICK_REFERENCE.md
